<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<%= render 'layouts/head' %>
<!-- END HEAD -->
<body class="page-container-bg-solid">


<div class="page-wrapper">
  <div class="page-wrapper-row">
    <div class="page-wrapper-top">
      <!-- BEGIN HEADER -->
      <%= render 'layouts/header' %>
      <!-- END HEADER -->
    </div>
  </div>
  <div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
      <!-- BEGIN CONTAINER -->
      <div class="page-container">
        <!-- BEGIN CONTENT -->

        <!---------------------------------------------------------------------------------->
        <div class="page-content-wrapper">
          <!-- BEGIN CONTENT BODY -->
          <!-- BEGIN PAGE HEAD-->
          <div class="page-head">
            <div class="container">
              <!-- BEGIN PAGE TITLE -->
              <%= render 'layouts/page/title' %>
              <!-- END PAGE TITLE -->
              <!-- BEGIN PAGE TOOLBAR -->
              <%= render 'layouts/page/toolbar' %>
              <!-- END PAGE TOOLBAR -->
            </div>
          </div>
          <!-- END PAGE HEAD-->
          <!-- BEGIN PAGE CONTENT BODY -->
          <div class="page-content">
            <%= yield %>
          </div>
          <!-- END PAGE CONTENT BODY -->
          <!-- END CONTENT BODY -->
        </div>

        <!----------------------------------------------------------------------------------->
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <%= render 'layouts/quick_sidebar' %>
        <!-- END QUICK SIDEBAR -->
      </div>
      <!-- END CONTAINER -->
    </div>
  </div>

  <div class="page-wrapper-row">
    <div class="page-wrapper-bottom">
      <!-- BEGIN FOOTER -->
      <!-- BEGIN PRE-FOOTER -->
      <%= render 'layouts/footer' %>
      <!-- END INNER FOOTER -->
      <!-- END FOOTER -->
    </div>
  </div>

</div>
<!-- BEGIN QUICK NAV -->
<%= render 'layouts/quick_nav' %>
<div class="quick-nav-overlay"></div>
<%= render 'layouts/script' %>
</body>
</html>
