<form class="search-form" action="page_general_search.html" method="GET">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" name="query">
    <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </span>
  </div>
</form>